
<li class="list-group-item">
  <h4>{{product.name}}
    <span class="badge badge-secondary float-right">{{product.category}}</span>
  </h4>
  <p>{{product.description}}</p>
</li>
<!--
<a href="#" class="list-group-item list-group-item-action active">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{product.name}}</h5>
    <small>{{product.category}}</small>
  </div>
  <p class="mb-1">{{product.description}}</p>
</a>
-->
