<div class="container	content">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Productos</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Ingresar nombre..." #name>
            </div>
            <div class="form-group">
              <label for="">Categoría</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar	category..." #category >
            </div>
            <div class="form-group">
              <label for="">Descricion</label>
              <textarea class="form-control" id="description"  #description ></textarea>
            </div>
            <button type="submit" class="btn	btn-primary" (click)="guardar(name.value, category.value, description.value)" >Guardar!</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">
  <ul class="list-group">
    <app-product *ngFor="let p of products" [product]="p" ></app-product>
  </ul>
  <!--
  <hr class="mb-5">
  <div class="row row-flex">
    <app-product *ngFor="let p of products" [product]="p" ></app-product>
  </div>
  -->
</div>
