<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Store</h1>
    <p class="lead">Tienda online de productos tecnológicos.</p>
  </div>
</div>
<app-products></app-products>
